/* CSS declarations go here */
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  /* color: white;
  background: red; */
  padding: 2px 10px;
  font-weight: bold;
  font-size: 0.9rem;
}
