* {
  padding: 0;
  margin: 0;
}

// base fontsize is 10 because 16*0.625
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: $base-fontsize;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

p {
  padding: $space;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: $base-fontsize;
  margin-bottom: $space;
  padding: $input-spacing;
  border: 1px solid $input-border;
}
