// colors
$grey: #dddddd;

// spacing
$space: 1.4rem;

// font size
$base-fontsize: 1.6rem;

// form inputs
$input-border: $grey;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-background: $grey;
$boxed-view-background: white;

// button
$button-background: #5b4681;
$button-color: white;
