.boxed-view {
  background: $boxed-view-overlay-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view__box {
  background-color: $boxed-view-background;
  padding: 2.4rem;
  text-align: center;
  width: 30rem;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
