.button {
  background-color: $button-background;
  border: none;
  color: $button-color;
  cursor: pointer;
  padding: $input-spacing;
  font-size: $base-fontsize;
  text-transform: uppercase;
  margin-bottom: $space;
}
